body{
	padding:0;
	font-family: 'Open Sans', sans-serif;
	background:#fff;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;		
	font-weight:400;
	font-family: 'Arvo', serif;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}	
p{
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
span#spanfour{
	font-size: 50px;
	color: #337ab7;
}
ul.navbar-nav{
    float: right;
    margin-top: 30px;
}
.main-head{
	position: fixed;
	background-color: #F1F1F1;
	width: 100%;
	z-index: 999;
	border-top: 5px solid #e5e5e5;
	min-height: 110px;
	border-radius: 0;
}
.navbar-brand{
	margin-top: -2px;
}
.navbar-toggle:hover {
    background-color: #e5e5e5;
    color: #2c3e50;
}
.navbar-toggle, .navbar-toggle::before{
    width:30%;
    background: url('../images/menitoggle.png')no-repeat right top;
}
#myNavbar ul li a:hover{
	background-color: #CE2100;
	padding: 15px;
	color: #fff;
}
/*header css ends*/




/*main banner css starts*/
.indexmainbanner{
	margin-top: 105px;
	height: 400px;
	background-size: 100%;
}
.homeheader {
	color: yellow;
	font-size: 40px;
	text-align: center;
	margin-top: 8%;
	margin-bottom: -0.5%;
	font-family: 'Arvo', serif;
}
.homesecheader {
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}
.homebuttext {
	margin-top: 1.2%;
}
.homebuttext a {
	 font-size: 17px;
	font-family: Georgia, serif;
}
.homebuttext button{
	 color: #ffffff;
	 width: 20%;
	 margin-left: 40%;
}
.homebuttext button:hover {
	text-decoration: none;
}
/*main banner css ends*/




/*homepage body css starts*/
.panel-default{
	margin: 25px 5px; 
	background-color: #003333;
	text-align: center;
}
.panel-body-label{
	font-size: 1em;
	font-weight: normal;
}
.panel-body-label span{
	color: #ffffff;
}
.panel-body-label span.view{
	color: #f3c500;
}
.panel-body-label span.view:hover{
	color: #D9C645;
	text-decoration: underline;
}
.panel-body-img img{
	padding: 1%;
	height: 200px;
	width: 100%;
	margin: 0 auto;
}
/*homepage body css ends*/




/*footer css starts*/
.footer-part{
	background-color: #003333;
	min-height: 150px;
}
.footer-logo{
	text-align: center;
}
.footer-logo a{
    font-family: Georgia, serif;
    font-size: 40px;
    color: #01a185;
    text-decoration: none;
    font-stretch: condensed;
}
.footer-logo a span {
    color: #f3c500;
}
#icon-footer{
	margin-left: auto;
}
#icon-footer a{
	margin: 5px;
}
.copyrights{
	font-family: Georgia, serif;
	width: 100%;
	background-color: #002424; 
	text-align: center;
}
.copyrights a{
	font-family: Georgia, serif;
}
.copyrights p{
    color: #979797;
    font-size: 14px;
	margin-top:0;
	font-family: Georgia, serif;
}
.copyrights p a{
	color:#F3C506;
	margin-left:2px;
}
.copyrights p a:hover{
	color:#ffffff;
}
/*footer css ends	*/

/*registration form css*/
.registration-body{
	margin-top: 100px;
	min-height: 350px;
}
#registration-form{
	width: 40%;
	margin: auto;
}
#registration-form label{
	font-family: Georgia, serif;
}
#registration-form label span{
	color: red;
}
/*terms and conditions*/
.termsbody{
	margin-top: 90px;
	min-height: 380px;
}

/*backend agents */
/*loader*/
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
/*loader*/
.index-body{
	min-height: 380px;
	margin-top: 90px;
}
.index-body h2{
	font-family: 'Arvo',serif;
	text-decoration: underline;
}
.addnew-body{
	margin-top: 100px;
	min-height: 350px;
}
.addnew-body form{
	width: 60%;
	margin: 1% 0 5% 5%;
}
.mypublish-body{
	margin-top: 90px;
	min-height: 280px;
}
.mypublish-edit-body{
	margin-top: 90px;
}
.profile-setting{
	margin: 100px 0 0 10px;
	min-height: 400px;
}
.profile-setting form{
	margin-top: 100px;
}

/*backend agents end*/

#log-form{
	width: 40%;
	margin: 2% auto;
	
}
#log-form label{
	font-family: Georgia, serif
}
#log-form label span{
	color: red;
}
.login-form {
	min-height: 400px;
}
.login-body{
	margin-top: 100px;
}
/*sign register form css starts*/




.photos-upload-view{
	float:left;
	width: 70%;
	margin-top: 10px;
}

#messages {
    padding: 15px 10px;
    margin: 15px 0 0 220px;
    border: 1px solid #01a185;
}

#messages p
{
	    color: #555;
		font-size:14px;
}
p.post-terms {
    margin-left: 28%;
    color: #000;
    font-size: 15px;
    letter-spacing: 1px;
}
p.post-terms a {
    color: #01A185;
}
.detail-categ{
	color: #f3c500;
}
a.detail-categ:hover{
	color: #D9C645;
}
.category-body{
	margin-top: 90px;
}
.view-detail-body{
	margin-top: 100px;
}
.view-detail-photo-panel{
	border: 2px solid #000000;
	background-color: #003333;
	width: 60%;
	height: 350px;
	border-radius: 10px;
	margin-top: 20px;
}
.view-detail-photo-panel img{
	padding: 1% 0;
	height: 100%;
	width: 100%;
}
.view-detail-section{
	background-color: #ffffff;
	width: 50%;
	text-align: left; 
	border:2px solid #000000;
	margin: 20px 25%;
	font-size: 20px;
	color: #1c1d20;
}
.view-detail-section-header{
	background-color: #003333;
	min-height: 30px;
	font-size: 25px;
	color: #fccc03;
	text-align: center;
	font-family: 'Arvo', serif;
}
.view-detail-section-body{
	font-size: 20px;
	text-align: left;
	padding-left: 10px;
	font-family: Arial;
}
/*contact us css*/
.google-map{
	margin: 10px auto;
}

.contact-form input[type="text"], .contact-form input[type="email"] {
    min-width: 90%;
    margin:0 auto 20px;
    padding: 1%;
    display: block;
 	padding: 10px;
}
.contact-form textarea{
	margin: 0 5% 20px; 
	width:90%;
	height: 200px;
	padding: 10px;
}
.contact-form span{
	width: 90%;
	margin: 20px 5%;
	font-style: oblique;
	font-size: 1.5em;
	font-weight: bold;
}
.contact-form input[type="submit"]{
	color: #ffffff;
	background-color: #2bb307;
	width:20%;
	height: 30px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-left: 5%;
}
.contact-form input[type="submit"]:hover{
	background-color: #218406;
}


.about-us{
	margin-top: 100px;
}
.about-section-grid-2.text-center img {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	padding: 2.7em;
	border: 5px solid #23527c;
}
.about-section-grid-2{
	margin-top:2em;
	margin-bottom: 4em;
	}
.about-us h2{
	text-align: center;
	color: #039b7f;
	font-weight: bold;
	font-family: Georgia, serif;
}
.about-us h3{
	text-align: center;
	color: #111101;
	font-weight: bold;
	font-family: Georgia, serif;
}

#about-us-carousel{
	margin: 0 30%;
}
#about-us-carousel ol{
	margin-bottom: 40px;
}
#about-us-carousel ol li{
	background-color: #000000;
}
#about-us-carousel p{
	text-align: center;
	color: #ffffff;
	background-color: #083045;
	font-family: Georgia, serif;
}
#about-us-carousel p a{
	text-decoration: underline;
	color: #56c0f7;
}
#about-us-carousel p a:hover{
	text-decoration: none;
	color: #e0eff7;
}
#about-us-carousel img{
	height: 300px;
	width: 100%;
}
#about-us-carousel .carousel-caption{
	font-size: 20px;
	color: yellow;
	font-weight: bold;
}
#contact-us-submit{
	margin-bottom: 20px;
}
.contact-body{
	margin-top: 100px;
}
/*contact css ended*/
.desc-panel{
	width: 80%;
	min-height: 200px;
	text-align: justify-all;
	margin: 40px auto;
	word-wrap: break-word;
}

.location_search_body{
	margin-top: 10px;
	min-height: 380px;
}

/*agent add new dropdown css*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*admin cdd*/
.banner-body{
	margin-top: 20px;
}
/*verify poat popupModal*/
.popupModal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
.verify-modal-content{
	background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.main-body{
	margin-top: 120px;
	min-height: 450px;
}
@media (max-width: 1080px){
	.form-signin{
		margin-left: 2%;
	}
	.homeheader {
		font-size: 40px;
		margin-top: 50px;
	}
	.homesecheader{
		margin: 8px 0 6px 0;
		font-size: 30px;
	}
	.indexmainbanner{
		min-height: 280px;
		padding: 60px 0 0 0;
	}
	.copyrights {
		font-size: 12.5px;
		line-height: 25px;
	}
}
@media (max-width: 995px){
	img.logoimg{
		margin-left: 20px;
	}
	.navbar-brand{
		margin-left: -15%;
	}
	.form-signin{
		margin-left: 2%;
	}
	.indexmainbanner {
		min-height: 260px;
		padding: 55px 0 0 0;
	}
	.homeheader {
		font-size: 35px;
	}
	.homesecheader{
		margin: 6px 0 30px 0;
		font-size: 25px;
	}
	.homebuttext a {
		font-size: 20px;
		text-align: center;
	}
	.homebuttext button{
		margin-top: -30px;
	}
	.footer-pagination .btn-primary {
		margin-bottom: 1px;
	}
	.table-panel{
		margin-top: -10px;
	}
	.table-panel h2{
		font-size: 30px;
	}
	.log td{
		font-size: 30px;
	}
	.table-panel p{
		font-size: 20px;
	}
	.table-panel font{
		font-size: 20px;

	}
	.table-panel a{
		margin-left:30px;
	}
	/*.login-register{
		margin-top: -26px;
	}*/
	.panel-default{
		width: 70%;
		margin: 25px auto;
	}
}
@media (max-width: 809px){
	#myNavbar{
		padding: 0;
	}
}
@media (max-width: 831px){
	#pending-account{
		margin-left: -30px;
	}
}
@media (max-width: 690px){
	.homebuttext button{
		width: 30%;
		margin-left: 35%;
	}
}
@media (max-width: 800px){
	.search-form{
		padding-top: 5px;
	}
	img.logoimg{
		margin: auto 0;
	}
	.about-us-body{
		margin-top: 90px;
	}
	.navbar-brand{
		padding-left: 50px;
	}
	.logoimg{
		width: 80%;
	}
	.form-signin{
		margin-left: 2%;
	}
	.view-detail-photo-panel{
		width: 80%;
	}
	.view-detail-section{
		width: 70%;
		margin: 15px auto;
	}
	.view-detail-section-body{
		font-size: 20px;
	}
	.indexmainbanner {
		min-height: 260px;
		padding: 55px 0 0 0;
	}
	.homeheader {
		font-size: 30px;
	}
	.homesecheader{
		margin: 6px 0 30px 0;
		font-size: 20px;
	}
	.homebuttext a {
		font-size: 10px;
		text-align: center;
	}
	.homebuttext button{
		margin-top: -30px;
	}
	.footer-pagination .btn-primary {
		margin-bottom: 1px;
	}
	.panel-default{
		width: 70%;
		height: 250px;
		margin: 25px auto;
	}
	.panel-body-img{
		height: 200px;
	}
	.main-head{
		height: 80px;
	}
	#myNavbar{
		position: relative;
		bottom: 40px;
	}
}
@media (max-width: 794px){
	#myNavbar{
		position: relative;
		bottom: 50px;
	}
}
@media (max-width: 767px){
	#myNavbar{
		padding: 30px 20px 0 0;
	}
	#myNavbar ul{
		background-color: black;
	}
	ul.dropdown-menu li a{
		color: #4c9be0;
	}
	.navbar-brand{
		padding-left: 130px;
	}
}
@media (max-width: 460px){
	img.logoimg{
		width: 170px;
		margin-left: -30px;
	}
}
@media (max-width: 390px){
	img.logoimg{
		width: 160px;
		margin-left: -30px;
	}
}
@media (max-width: 500px){

	.form-signin{
		margin-left: 2%;
	}
	.view-detail-photo-panel{
		width: 90%;
		height: 250px;
	}
	.view-detail-section{
		width: 90%;
		margin: 15px auto;
	}
	.view-detail-section-body{
		font-size: 15px;
	}
	.homeheader{
		font-size: 25px;	
	}
	.homesecheader{
		font-size: 18px;
	}
	#myBtn{
		margin-right: 15px;
	}
	.indexmainbanner{
		height: 100px;
	}
	.homeheader{
		margin-top: -5%;
	}
	#about-us-carousel{
		width: 80%;
		margin: 0 10%;
	}
}

@media (max-width: 411px){
	#myBtn{
		margin-right: 5px;
	}
	.form-signin{
		margin-left: 2%;
	}
}
@media (max-width: 360px){
	button.navbar-toggle{
		width: 110px;
	}
	.navbar-brand{
		width: 300px;
		margin-left: -90px;
	}
	.table-panel font{
		font-size: 15px;
	}
	.form-signin{
		margin-left: 2%;
	}
}
@media (max-width: 336px){
	.navbar-brand{
		width: 270px;
	}
}
@media (max-width: 328px){
	.navbar-brand{
		margin-left: -90px;
		width: 270px;
	}
}
@media (max-width: 306px){
	.navbar-brand{
		width: 250px;
	}
	button.navbar-toggle{
		width: 108px;
	}
}
@media (max-width: 320px){
	.table-panel h2{
		font-size: 18px;
	}
	.log td{
		font-size: 17px;
	}
	.table-panel input{
		width: 90%;
	}
	#login-submit{
		width: 90%;
	}
	.form-signin{
		margin-left: 2%;
	}
	.homebuttext button{
		padding-right: 50px;
	}
	.view-detail-section{
		width: 100%;
	}
}
@media (max-width: 450px){
	.homebuttext button{
		width: 40%;
		margin-left: 30%;
	}
}
@media (max-width: 350px){
	.homebuttext button{
		width: 50%;
		margin-left: 30%;
	}
}
